@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600;700;800&family=Work+Sans:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat+Subrayada:wght@700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Work Sans', sans-serif;
}

/* 
======================
CSS variables
====================== */

:root {
  --heading: #239b56;
  --para: #777;
  --underline: #006170;
  --para-tint: #e4e4e4;
  --black: #212523;
  --white: #fff;
  --helper: #65b989;
  --helper-tint: #00cc99;
  --footerColor: #154360;
  --bg: #e9f5ee;
  --bg2: #f7f9f9;
  --navbarColor: linear-gradient(
    to bottom,
    #28b463,
    #0aa064,
    #008d62,
    #00795d,
    #0e6655
  );
  --overlay: #3e64ff;
  --cardColor: #f7f9f9;
  --gradient: linear-gradient(to top left, #00cc99 0%, #00ccffc5 100%);
  --gradientSupport: -webkit-linear-gradient(#8490ff 0%, #00ccffc5 100%);
  --shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  --shadowGlow: rgb(136, 196, 211) 0px 3px 8px;
  --text-shadow: 4px 3px 0px #fff, 9px 8px 0px rgba(0, 0, 0, 0.15);
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  /*1rem = 10px */
}

body {
  overflow-x: hidden;
}

h1,
h2,
h3,
h4 {
  font-family: 'Poppins', sans-serif;
}

h1 {
  color: var(--heading);
  font-size: 6rem;
  font-weight: 600;
}

h3 {
  font-size: 1.8rem;
  font-weight: 400;
}

p {
  color: var(--para);
  line-height: 1.6;
  font-size: 1.7rem;
  font-weight: 500;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

/* ==================
Header section
================== */

.header {
  padding: 0.8rem 4.8rem;
  height: 8rem;
  background-color: var(--bg);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-lists {
  display: flex;
  gap: 4.8rem;
}

.navbar-link:link,
.navbar-link:visited {
  display: inline-block;
  text-decoration: none;
  font-size: 1.8rem;
  font-weight: 500;
  text-transform: uppercase;
  color: var(--black);
  font-family: 'Poppins', sans-serif;
  transition: color 0.3s linear;
}

.navbar-link:hover,
.navbar-link:active {
  color: var(--helper);
}

.mobile-nav-btn {
  display: none;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.mobile-nav-btn [name='close-outline'] {
  display: none;
}

/* ==================
Resuseable code
===================== */

.section {
  padding: 9rem 0;
  background-color: var(--bg);
}

.container {
  max-width: 140rem;
  margin: 0 auto;
}

.container-grid {
  max-width: 140rem;
  margin: 0 auto;
}

.grid {
  display: grid;
  gap: 9rem;
}

.grid-two-column {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.grid-three-column {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.grid-four-column {
  display: grid;
  gap: 16rem;
  grid-template-columns: repeat(4, 1fr);
}

.btn {
  background: var(--gradient);
  display: inline-block;
  font-size: 1.8rem;
  border-radius: 0.6rem;
  text-transform: uppercase;
  font-weight: 500;
  cursor: pointer;
  padding: 1.5rem 3rem;
  border: none;
  color: var(--white);
  /* box-shadow: var(--shadow); */
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
}

.btn:hover,
.btn:active {
  box-shadow: var(--shadow);
}

.common-heading {
  font-size: 4.8rem;
  font-weight: 600;
  text-transform: capitalize;
  margin-bottom: 6rem;
  position: relative;
}

.common-heading::before {
  content: '';
  position: absolute;
  top: 110%;
  left: 0;
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
  background-color: var(--helper);
}

.common-heading::after {
  content: '';
  position: absolute;
  top: 118%;
  left: 1.5rem;
  min-width: 300px;
  background-color: var(--underline);
  height: 0.3rem;
}

/* ==================
Hero section start
===================== */

.section-hero-data {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: flex-start; */
}

.hero-top-data {
  text-transform: uppercase;
  font-weight: 500;
  font-size: 2rem;
  color: var(--helper-tint);
  text-shadow: var(--shadow);
}

.hero-img {
  max-width: 80%;
}
.hero-heading {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 6.4rem;
  text-shadow: var(--text-shadow);
}

.hero-para {
  margin-top: 1.5rem;
  margin-bottom: 5rem;
  max-width: 60rem;
  text-transform: capitalize;
}

.section-hero-image {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* ==================
Bio-data section start
===================== */

.bio-image {
  display: flex;
  justify-content: center;
  align-items: center;
}

.bio-image img {
  width: 80%;
  box-shadow: -2rem -2rem 0 0 var(--helper);
  display: inline-block;
}

.bio-data-stats {
  display: flex;
  flex-direction: column;
  padding: 6.4rem 0;
  gap: 30px;
}

.bio-data-stats h3 {
  margin-bottom: 1rem;
}

.bio-progresss-bar {
  width: 90%;
  height: 0.8rem;
  background-color: var(--para);
  border-radius: 10rem;
  position: relative;
}

.bio-progresss-bar::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 80%;
  height: inherit;
  background: var(--gradient);
  border-radius: 10rem;
}

.bar-1::before {
  width: 50%;
}

.bar-2::before {
  width: 90%;
}

.bar-3::before {
  width: 80%;
}

.bar-4::before {
  width: 60%;
}

.bar-5::before {
  width: 40%;
}

.bio-progresss-bar span {
  position: absolute;
  top: 1.8rem;
  width: 4rem;
  height: 2rem;
  background: var(--gradientSupport);
  color: var(--white);
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  outline: none;
}

.bar-1 span {
  left: 46%;
}

.bar-2 span {
  left: 86%;
}

.bar-3 span {
  left: 76%;
}

.bar-4 span {
  left: 56%;
}

.bar-5 span {
  left: 36%;
}

/* to create a crate */
.bio-progresss-bar span::after {
  content: '';
  position: absolute;
  width: 0;
  height: 0;
  border: 0.8rem solid rgb(132 144 255);
  border-color: transparent;
  border-bottom-color: rgb(132 144 255);
  top: -1.6rem;
}

/* ==================
Portfolio section start
===================== */

.section-portfolio {
  background-color: var(--bg2);
  transition: all 0.7s linear;
}

.section-portfolio p {
  max-width: 60rem;
}

.p-btns {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3.2rem;
  margin: 3.2rem 0;
}

.portfolio-images {
  gap: 3.2rem;
}

.portfolio-images img {
  width: 100%;
  border-radius: 1rem;
  position: relative;
  overflow: hidden;
}

.img-overlay {
  position: relative;
  overflow: hidden;
}

.img-overlay .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--gradientSupport);
  opacity: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translateY(100%);
  transition: all 0.3s linear;
  border-radius: 1rem;
}

.img-overlay:hover > .overlay {
  transform: translateY(0);
  opacity: 0.8;
  cursor: pointer;
}

.img-overlay .common-heading {
  margin: 0;
  color: var(--white);
  text-decoration: none;
}

.img-overlay .common-heading::before {
  width: 0;
  height: 0;
}

.img-overlay .common-heading::after {
  width: 0;
  height: 0;
}

.p-btn-active {
  transform: translateY(-1rem);
}

.not-active {
  display: none;
}

/* 
====================== 
counter animation section
========================== */
.counter-section {
  transition: all 0.7s linear;
}

.counter-container {
  width: 100%;
  height: 15vh;
  background: var(--gradientSupport);
  display: flex;
  justify-content: center;
  /* gap: 10rem; */
  align-items: center;
}

.table {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.table h3 {
  color: var(--white);
  font-size: 3.8rem;
}

.table p {
  font-size: 1rem;
  color: var(--white);
  text-transform: capitalize;
}
/* 
========================
Services offer section
======================== */

.service-section {
  transition: all 0.7s linear;
}

.service-section p {
  max-width: 60rem;
}

.service-section .grid {
  margin-top: 10rem;
  row-gap: 10rem;
}

.services-offer {
  height: 20rem;
}

.box-container {
  background-color: var(--white);
  text-align: center;
  padding: 6.4rem 3.4rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 1rem;
  box-shadow: var(--shadow);
  transition: all 0.3s ease;
}

.service-icons {
  display: inline-block;
  border-radius: 30% 70% 70% 30% / 47% 45% 55% 53%;
  /* border: 1px solid var(--black); */
  background-color: #e0ffff;
  display: inline-block;
  padding: 1.4rem 1.8rem;
  position: relative;
  color: var(--black);
  animation: water-wave 3s linear infinite;
}

.service-icons::after {
  content: '';
  position: absolute;
  top: 50%;
  left: -40%;
  transform: translate(50%, -50%);
  width: 90%;
  height: 90%;
  border-radius: 68% 32% 47% 53% / 39% 52% 48% 61%;
  background: transparent;
  border: 1px solid #83d7ee;
  animation: water-wave 3s linear infinite;
}

@keyframes water-wave {
  0% {
    border-radius: 30% 70% 70% 30% / 47% 45% 55% 53%;
  }
  50% {
    border-radius: 81% 19% 80% 20% / 23% 75% 25% 77%;
  }
  100% {
    border-radius: 30% 70% 70% 30% / 47% 45% 55% 53%;
  }
}

.box-container h3 {
  margin-top: 3rem;
  margin-bottom: 1.5rem;
  text-transform: capitalize;
}

.box-container:hover {
  transform: translateY(-1.5rem);
}

/* ================
Swiper section
================ */

.section-testimonial {
  background: var(--bg2);
}

.swiper {
  width: 100%;
  height: 100%;
  margin-top: 9rem;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-client-msg {
  padding: 5rem 8rem;
  background: var(--white);
  border-radius: 1rem;
  text-align: left;
  box-shadow: var(--shadow);
  position: relative;
}
.swiper-client-msg::before {
  content: '';
  position: absolute;
  bottom: -10rem;
  left: 50%;
  transform: translate(-50%);
  border: 5rem solid var(--white);
  border-color: transparent;
  border-top-color: var(--white);
  filter: drop-shadow(rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px);
}

.swiper-slide img {
  max-width: 7rem;
  height: 7rem;
  object-fit: cover;
  border-radius: 50%;
  border: 0.3rem solid #0492c2;
}

.swiper-client-msg p::before {
  content: '\f10d';
  position: absolute;
  top: 0rem;
  left: 2rem;
  font-size: 5rem;
  color: #ced3ff;
  font-family: 'Font Awesome 6 Free';
  font-weight: 900;
}

.swiper-client-msg p::after {
  content: '\f10e';
  position: absolute;
  bottom: 0rem;
  right: 4rem;
  font-size: 5rem;
  color: #ced3ff;
  font-family: 'Font Awesome 6 Free';
  font-weight: 900;
}

.swiper-client-data {
  margin: 3.2rem 0;
  gap: 3.2rem;
  align-items: center;
}

.client-data-detailes p {
  text-transform: capitalize;
  font-weight: 500;
}

/* ===========================
Freelancing section start
=========================== */
.freelancing-section {
  background-image: url(./images/freelance.jpg);
  background-size: 100%;
  background-attachment: fixed;
  position: relative;
  width: 100%;
  height: 25vh;
  text-align: center;
  transition: all 0.7s linear;
}

.freelancing-section .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.7;
  background-color: var(--overlay);
}

.overlay .container {
  width: 100%;
  height: 100%;
  /* position: absolute; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.freelancing-section .container {
  position: relative;
}

.freelancing-section h2 {
  text-transform: capitalize;
  font-size: 4.5rem;
}

.freelancing-section span {
  color: #a0ff69;
}

.freelancing-section h2,
.freelancing-section p {
  color: var(--white);
}

/* ===========================
Contact section start
=========================== */

.contact-section-main {
  max-width: 70rem;
  margin: 0 auto;
  margin-top: 9rem;
  transition: all 0.3s linear;
}

.contact-section-main form {
  display: flex;
  flex-direction: column;
  gap: 3.2rem;
}

.contact-section-main .grid {
  gap: 3.2rem;
}

.contact-section-main input,
.contact-section-main textarea {
  margin-top: 1rem;
  padding: 1.5rem 2rem;
  border: 0.1rem solid #c9c9c9;
  border-radius: 5px;
  font-size: 1.6rem;
  font-family: 'work sans';
  width: 100%;
}

.contact-section-main input[type='submit'] {
  max-width: 30%;
  border: none;
}

.contact-section-main label {
  font-size: 2rem;
  margin-bottom: 20px;
}

/* ===========================
Footer section start
=========================== */

.section-footer {
  background-color: var(--footerColor);
  transition: all 0.7s linear;
}

.section-footer h3 {
  color: var(--white);
  margin-bottom: 4rem;
}

.f-about p {
  color: #adadad;
}

.f-links ul,
.f-services ul,
.f-address address {
  display: flex;
  flex-direction: column;
  gap: 1.8rem;
  justify-content: center;
}

.f-links li,
.f-links a,
.f-services li,
.f-services a {
  font-size: 1.8rem;
  color: #adadad;
  text-transform: capitalize;
}

.f-links span,
.f-services span,
.f-address span {
  margin-right: 1rem;
}

.f-address p,
.f-address p a {
  font-style: normal;
  color: #adadad;
}

.footer-social-icons {
  margin: 5rem 0;
  color: #adadad;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3.2rem;
}

.footer-social-icons .icons {
  width: 4rem;
  height: 4rem;
  background-color: #90acd133;
  padding: 1.4rem 1.8rem;
  display: inline-block;
  position: relative;
  color: var(--white);
  animation: water-wave 3s linear infinite;
}

.credits p {
  color: #adadad;
  text-align: center;
}

footer a:hover,
footer a:active {
  color: var(--white);
}

/* 
======================
scrollTop section start
======================
 */

.scrollTop-style {
  position: fixed;
  right: 2%;
  bottom: 5%;
  z-index: 1;
}

.scroll-top {
  width: 4rem;
  height: 4rem;
  background-color: #90acd133;
  padding: 1.4rem 1.8rem;
  display: inline-block;
  color: var(--);
  cursor: pointer;
  animation: water-wave 3s linear infinite;
}

/*
======================
Responsive for mobile 
======================*/

/* 1500px = 93.75em */

@media (max-width: 95em) {
  .container {
    max-width: 130rem;
    padding: 0 3.5rem;
  }

  .navbar-lists {
    gap: 3.4rem;
  }

  .freelancing-section {
    height: 18vh;
  }

  .header {
    padding: 2.2rem 4.8rem;
  }
}

/* for 1200px  */

@media (max-width: 75em) {
  html {
    font-size: 50%;
  }

  .container {
    max-width: 110rem;
  }

  .grid {
    gap: 4.8rem;
  }

  .freelancing-section {
    height: 16vh;
  }
}

/* for 980px */

@media (max-width: 980px) {
  .header {
    position: relative;
  }

  .container {
    max-width: 100rem;
  }

  .section-hero h1 {
    line-height: 1.05;
  }

  .mobile-nav-btn {
    display: block;
    z-index: 9999;
  }

  .mobile-icons {
    width: 5rem;
    height: 5rem;
    border: 4px solid var(--black);
    border-radius: 8px;
    color: var(--black);
  }

  .navbar {
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    background: var(--navbarColor);

    display: flex;
    justify-content: center;
    align-items: center;

    transform: translateX(100%);
    transition: all 0.5s linear;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    z-index: 999;
  }

  .navbar-lists {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .navbar .navbar-lists .navbar-link:link,
  .navbar .navbar-lists .navbar-link:visited {
    font-size: 3.2rem;
    color: #212529;
  }

  .active .navbar {
    transform: translateX(0%);
    visibility: visible;
    opacity: 1;
    pointer-events: auto;
  }

  .active .mobile-nav-btn .mobile-icons[name='menu-outline'] {
    display: none;
  }

  .active .mobile-nav-btn .mobile-icons[name='close-outline'] {
    display: block;
  }

  .freelancing-section {
    height: 14vh;
  }
}

/* for 800px */

@media (max-width: 50em) {
  .container {
    max-width: 71rem;
  }

  .section-hero .grid-two-column {
    grid-template-columns: 1fr;
    gap: 3.2rem;
  }

  .section-hero img {
    width: 70%;
  }

  .section-hero-data {
    align-items: center;
    gap: 3.2rem;
  }

  .hero-para {
    text-align: center;
    margin-bottom: 1.2rem;
  }

  .hero-heading {
    text-align: center;
  }

  /* bio data */

  .section-biodata .grid-two-column {
    grid-template-columns: 1fr;
  }

  .section-biodata .bio-image {
    grid-row: 2;
  }

  .section-biodata .bio-data-btn {
    text-align: center;
    margin-bottom: 3.2rem;
  }

  .section-biodata img {
    width: 70%;
    margin-top: 1.2rem;
  }

  /* portfolio section */

  .section-portfolio .grid-three-column {
    grid-template-columns: repeat(2, 1fr);
  }

  /* section counter data */

  .counter-section .grid-four-column {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 15vh;
    padding: 4rem;
    gap: 3.2rem;
  }

  /* services section */

  .services-section .grid-three-column {
    grid-template-columns: 1fr 1fr;
  }

  /* footer section */

  .section-footer .grid-four-column {
    grid-template-columns: 1fr 1fr;
  }

  /* freelace section */
  .freelancing-section {
    height: 12vh;
  }
}

/* below 560px  */

@media (max-width: 35em) {
  .container {
    max-width: 50rem;
  }

  .header {
    position: relative;
    padding: 4.8rem;
  }

  /* portfolio */

  .section-portfolio .p-btns {
    gap: 2.5rem;
  }

  .btn {
    padding: 1rem 1.2rem;
  }

  /* countersection */
  .counter-section .grid-four-column h3,
  p {
    font-size: 2rem;
  }

  .counter-section .counter-container {
    padding: 1rem;
    gap: 1rem;
  }

  /* services section */

  .services-section .grid-three-column {
    grid-template-columns: 1fr;
    margin-top: 3.2rem;
  }

  /* freelance section  */

  .freelancing-section h2 {
    font-size: 2.8rem;
  }

  .freelancing-section p {
    font-size: 1.2rem;
  }
}
