@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600;700;800&family=Work+Sans:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat+Subrayada:wght@700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Work Sans', sans-serif;
}

/* 
======================
CSS variables
====================== */

:root {
  --heading: #239b56;
  --para: #777;
  --para-tint: #e4e4e4;
  --black: #212523;
  --white: #fff;
  --helper: #65b989;
  --helper-tint: #a7d7bb;
  --bg: #e9f5ee;
  --gradient: linear-gradient(0deg, rgb(35 155 86) 0%, rgb(0 212 255) 100%);
  --gradientSupport: -webkit-linear-gradient(
    rgb(132 144 255) 0%,
    rgb(98 189 252) 100%
  );
  --shadow: rgba(50, 178, 242, 0.4) 0px 5px, rgba(43, 145, 182, 0.3) 0px 10px,
    rgba(37, 104, 155, 0.2) 0px 15px, rgba(32, 110, 125, 0.1) 0px 20px,
    rgba(0, 166, 207, 0.05) 0px 25px;
}

html {
  font-size: 62.5%;
  /*1rem = 10px */
}

h1,
h2,
h3,
h4 {
  font-family: 'Poppins', sans-serif;
}

h1 {
  color: var(--heading);
  font-size: 6rem;
  font-weight: 600;
}

h3 {
  font-size: 1.8rem;
  font-weight: 400;
}

p {
  color: var(--para);
  line-height: 1.6;
  font-size: 1.7rem;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

/* ==================
Header section
================== */

.header {
  padding: 0 4.8rem;
  height: 8rem;
  background-color: var(--bg);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  margin: 0 auto;
}

.navbar-lists {
  display: flex;
  gap: 4.8rem;
}

.navbar-link:link,
.navbar-link:visited {
  display: inline-block;
  text-decoration: none;
  font-size: 1.8rem;
  font-weight: 500;
  text-transform: uppercase;
  color: var(--black);
  font-family: 'Poppins', sans-serif;
  transition: color 0.3s linear;
}

.navbar-link:hover,
.navbar-link:active {
  color: var(--helper);
}

/* ==================
Resuseable code
================== */

.section {
  padding: 9rem;
}


/* ==================
Hero section start
================== */