@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600;700;800&family=Work+Sans:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat+Subrayada:wght@700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Work Sans', sans-serif;
}

/* 
======================
CSS variables
====================== */

:root {
  --heading: #239b56;
  --para: #777;
  --underline: #006170;
  --para-tint: #e4e4e4;
  --black: #212523;
  --white: #fff;
  --helper: #65b989;
  --helper-tint: #00cc99;
  --bg: #e9f5ee;
  --bg2: #f7f9f9;
  --gradient: linear-gradient(to top left, #00cc99 0%, #00ccffc5 100%);
  --gradientSupport: -webkit-linear-gradient(
    rgb(132 144 255) 0%,
    rgb(98 189 252) 100%
  );
  --shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  --shadowGlow: rgb(136, 196, 211) 0px 3px 8px;
  --text-shadow: 4px 3px 0px #fff, 9px 8px 0px rgba(0, 0, 0, 0.15);
}

html {
  font-size: 62.5%;
  /*1rem = 10px */
}

h1,
h2,
h3,
h4 {
  font-family: 'Poppins', sans-serif;
}

h1 {
  color: var(--heading);
  font-size: 6rem;
  font-weight: 600;
}

h3 {
  font-size: 1.8rem;
  font-weight: 400;
}

p {
  color: var(--para);
  line-height: 1.6;
  font-size: 1.7rem;
  font-weight: 500;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

/* ==================
Header section
================== */

.header {
  padding: 0 4.8rem;
  height: 8rem;
  background-color: var(--bg);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-lists {
  display: flex;
  gap: 4.8rem;
}

.navbar-link:link,
.navbar-link:visited {
  display: inline-block;
  text-decoration: none;
  font-size: 1.8rem;
  font-weight: 500;
  text-transform: uppercase;
  color: var(--black);
  font-family: 'Poppins', sans-serif;
  transition: color 0.3s linear;
}

.navbar-link:hover,
.navbar-link:active {
  color: var(--helper);
}

/* ==================
Resuseable code
===================== */

.section {
  padding: 9rem 0;
  background-color: var(--bg);
}

.container {
  max-width: 140rem;
  margin: 0 auto;
}

.container-grid {
  max-width: 140rem;
  margin: 0 auto;
}

.grid {
  display: grid;
  gap: 9rem;
}

.grid-two-column {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.grid-three-column {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.grid-four-column {
  display: grid;
  gap: 16rem;
  grid-template-columns: repeat(4, 1fr);
}

.btn {
  background: var(--gradient);
  display: inline-block;
  font-size: 1.8rem;
  border-radius: 0.6rem;
  text-transform: uppercase;
  font-weight: 500;
  cursor: pointer;
  padding: 1.5rem 3rem;
  border: none;
  color: var(--white);
  /* box-shadow: var(--shadow); */
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
}

.btn:hover,
.btn:active {
  box-shadow: var(--shadow);
}

.common-heading {
  font-size: 4.8rem;
  font-weight: 600;
  text-transform: capitalize;
  margin-bottom: 6rem;
  position: relative;
}

.common-heading::before {
  content: '';
  position: absolute;
  top: 110%;
  left: 0;
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
  background-color: var(--helper);
}

.common-heading::after {
  content: '';
  position: absolute;
  top: 118%;
  left: 1.5rem;
  min-width: 300px;
  background-color: var(--underline);
  height: 0.3rem;
}

/* ==================
Hero section start
===================== */

.section-hero-data {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: flex-start; */
}

.hero-top-data {
  text-transform: uppercase;
  font-weight: 500;
  font-size: 2rem;
  color: var(--helper-tint);
  text-shadow: var(--shadow);
}

.hero-img {
  max-width: 80%;
}
.hero-heading {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 6.4rem;
  text-shadow: var(--text-shadow);
}

.hero-para {
  margin-top: 1.5rem;
  margin-bottom: 5rem;
  max-width: 60rem;
  text-transform: capitalize;
}

.section-hero-image {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* ==================
Bio-data section start
===================== */

.bio-image {
  display: flex;
  justify-content: center;
  align-items: center;
}

.bio-image img {
  width: 80%;
  box-shadow: -2rem -2rem 0 0 var(--helper);
  display: inline-block;
}

.bio-data-stats {
  display: flex;
  flex-direction: column;
  padding: 6.4rem 0;
  gap: 30px;
}

.bio-data-stats h3 {
  margin-bottom: 1rem;
}

.bio-progresss-bar {
  width: 90%;
  height: 0.8rem;
  background-color: var(--para);
  border-radius: 10rem;
  position: relative;
}

.bio-progresss-bar::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 80%;
  height: inherit;
  background: var(--gradient);
  border-radius: 10rem;
}

.bar-1::before {
  width: 50%;
}

.bar-2::before {
  width: 90%;
}

.bar-3::before {
  width: 80%;
}

.bar-4::before {
  width: 60%;
}

.bar-5::before {
  width: 40%;
}

.bio-progresss-bar span {
  position: absolute;
  top: 1.8rem;
  width: 4rem;
  height: 2rem;
  background: var(--gradientSupport);
  color: var(--white);
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  outline: none;
}

.bar-1 span {
  left: 46%;
}

.bar-2 span {
  left: 86%;
}

.bar-3 span {
  left: 76%;
}

.bar-4 span {
  left: 56%;
}

.bar-5 span {
  left: 36%;
}

/* to create a crate */
.bio-progresss-bar span::after {
  content: '';
  position: absolute;
  width: 0;
  height: 0;
  border: 0.8rem solid rgb(132 144 255);
  border-color: transparent;
  border-bottom-color: rgb(132 144 255);
  top: -1.6rem;
}

/* ==================
Portfolio section start
===================== */

.section-portfolio {
  background-color: var(--bg2);
  transition: all 0.7s linear;
}

.section-portfolio p {
  max-width: 60rem;
}

.p-btns {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3.2rem;
  margin: 3.2rem 0;
}

.portfolio-images {
  gap: 3.2rem;
}

.portfolio-images img {
  width: 100%;
  border-radius: 1rem;
  position: relative;
  overflow: hidden;
}

.img-overlay {
  position: relative;
  overflow: hidden;
}

.img-overlay .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--gradientSupport);
  opacity: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translateY(100%);
  transition: all 0.3s linear;
  border-radius: 1rem;
}

.img-overlay:hover > .overlay {
  transform: translateY(0);
  opacity: 0.8;
  cursor: pointer;
}

.img-overlay .common-heading {
  margin: 0;
  color: var(--white);
  text-decoration: none;
}

.img-overlay .common-heading::before {
  width: 0;
  height: 0;
}

.img-overlay .common-heading::after {
  width: 0;
  height: 0;
}

.p-btn-active {
  transform: translateY(-1rem);
}

.not-active {
  display: none;
}

/* 
====================== 
counter animation section
========================== */
.counter {
  transition: all 0.7s linear;
}

.counter-container {
  width: 100%;
  height: 22rem;
  background: var(--gradientSupport);
  display: flex;
  justify-content: center;
  /* gap: 10rem; */
  align-items: center;
}

.table {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.table h3 {
  color: var(--white);
  font-size: 3.8rem;
}

.table p {
  font-size: 1rem;
  color: var(--white);
  text-transform: capitalize;
}
/* 
========================
Services offer section
======================== */

.service-section {
  transition: all 0.7s linear;
}

.service-section p {
  max-width: 60rem;
}

.service-section .grid {
  margin-top: 10rem;
  row-gap: 10rem;
}

.services-offer {
  height: 20rem;
}

.box-container {
  background-color: var(--bg);
  text-align: center;
  padding: 6.4rem 3.4rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 1rem;
  box-shadow: var(--shadowGlow);
  transition: all 0.3s ease;
}

.service-icons {
  display: inline-block;
  border-radius: 30% 70% 70% 30% / 47% 45% 55% 53%;
  /* border: 1px solid var(--black); */
  background-color: var(--para-tint);
  display: inline-block;
  padding: 1.4rem 1.8rem;
  position: relative;
  color: var(--black);
  animation: water-wave 3s linear infinite;
}

.service-icons::after {
  content: '';
  position: absolute;
  top: 50%;
  left: -40%;
  transform: translate(50%, -50%);
  width: 90%;
  height: 90%;
  border-radius: 68% 32% 47% 53% / 39% 52% 48% 61%;
  background: transparent;
  border: 1px solid var(--black);
  animation: water-wave 3s linear infinite;
}

@keyframes water-wave {
  0% {
    border-radius: 30% 70% 70% 30% / 47% 45% 55% 53%;
  }
  50% {
    border-radius: 81% 19% 80% 20% / 23% 75% 25% 77%;
  }
  100% {
    border-radius: 30% 70% 70% 30% / 47% 45% 55% 53%;
  }
}

.box-container h3 {
  margin-top: 3rem;
  margin-bottom: 1.5rem;
  text-transform: capitalize;
}

.box-container:hover {
  transform: translateY(-1.5rem);
}

/* ================
Swiper section
================ */

.section-testimonial {
  background: #f7f9f9;
}

.swiper {
  width: 100%;
  height: 100%;
  margin-top: 9rem;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-client-msg {
  padding: 5rem 8rem;
  background: var(--white);
  border-radius: 1rem;
  text-align: left;
  box-shadow: var(--shadow);
  position: relative;
}
.swiper-client-msg::before {
  content: '';
  position: absolute;
  bottom: -10rem;
  left: 50%;
  transform: translate(-50%);
  border: 5rem solid var(--white);
  border-color: transparent;
  border-top-color: #f7f9f9;
}

.swiper-slide img {
  max-width: 7rem;
  height: 7rem;
  object-fit: cover;
  border-radius: 50%;
  border: 0.3rem solid var(--black);
}

.swiper-client-msg p::before {
  content: '\f10d';
  position: absolute;
  top: 0rem;
  left: 2rem;
  font-size: 5rem;
  color: var(--bg2);
  font-family: 'Font Awesome 6 Free';
  font-weight: 900;
}

.swiper-client-msg p::after {
  content: '\f10e';
  position: absolute;
  bottom: 0rem;
  right: 4rem;
  font-size: 5rem;
  color: #ced3ff;
  font-family: 'Font Awesome 6 Free';
  font-weight: 900;
}

.swiper-client-data {
  margin: 3.2rem 0;
  gap: 3.2rem;
  align-items: center;
}
